<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
        <h2>Manage <b>Locations</b></h2>
      </div>
      <div class="col-sm-6">
        <a href="#editLocationModal" (click)="setEditLocation({})" class="btn btn-success" data-toggle="modal"><i class="material-icons"></i> <span>Add New Location</span></a>
        <a href="#deleteLocationModal"  class="btn btn-danger" data-toggle="modal"><i class="material-icons"></i> <span>Delete</span></a>						
      </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
        <th>
          <span class="custom-checkbox">
            <input id="selectAll" type="checkbox">
            <label for="selectAll"></label>
          </span>
        </th>
                    <th>City</th>
                    <th>Country</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let location of locations">
        <td>
          <span class="custom-checkbox">
            <input id="checkbox1" name="options[]" value="1" type="checkbox" [(ngModel)]="location.isSelected">
            <label for="checkbox1"></label>
          </span>
        </td>
                    <td>{{location.city}}</td>
                    <td>{{location.country}}</td>
        <td>{{location.description}}</td>
                    <td>
                        <a href="#editLocationModal" (click)="setEditLocation(location)" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="" data-original-title="Edit"></i></a>
                        <a href="#deleteLocationModal" (click)="selectLocation(location)" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="" data-original-title="Delete"></i></a>
                    </td>
                </tr>
                
            </tbody>
        </table>
  <div class="clearfix">
            <div class="hint-text">Showing <b>{{locations.length}}</b> out of <b>{{allLocations.length}}</b> entries</div>
            <ul class="pagination">
                <li class="page-item" [class.disabled]="pager.currentPage === 1"><a (click)="setPage(pager.currentPage - 1)">Previous</a></li>
                <li class="page-item" [class.active]="page === pager.currentPage" *ngFor="let page of pager.pages" ><a (click)="setPage(page)" class="page-link" >{{page}}</a></li>
                <li class="page-item" [class.disabled]="pager.currentPage === pager.endPage"><a (click)="setPage(pager.currentPage + 1)" class="page-link">Next</a></li>
            </ul>
        </div>
    </div>
  </div>
  
    <div id="editLocationModal" class="modal fade" >
        <div class="modal-dialog">
          <div class="modal-content">
            <form>
              <div class="modal-header">						
                <h4 class="modal-title">Edit Location</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              </div>
              <div class="modal-body">					
                <div class="form-group">
                  <label>City</label>
                  <input class="form-control" required="" type="text" [(ngModel)]="editLocation.city" name="city">
                </div>
                <div class="form-group">
                  <label>Country</label>
                  <input class="form-control" required="" type="text" [(ngModel)]="editLocation.country" name="country">
                </div>
                
                <div class="form-group">
                  <label>Description</label>
                  <input class="form-control" required="" type="text" [(ngModel)]="editLocation.description" name="description">
                </div>
                </div>	
              <div class="modal-footer">
                <input class="btn btn-default" data-dismiss="modal" value="Cancel" type="button">
                <input class="btn btn-info" value="Save" type="submit" (click)="saveLocation()">
              </div>
            </form>
          </div>
        </div>
      </div>
  
  
      <div id="deleteLocationModal" class="modal fade" style="display: none;">
          <div class="modal-dialog">
            <div class="modal-content">
              <form>
                <div class="modal-header">						
                  <h4 class="modal-title">Delete Location</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">					
                  <p>Are you sure you want to delete selected Records?</p>
                  <p class="text-warning"><small>This action cannot be undone.</small></p>
                </div>
                <div class="modal-footer">
                  <input class="btn btn-default" data-dismiss="modal" value="Cancel" type="button">
                  <input class="btn btn-danger" value="Delete" type="submit" (click)="deleteSelectedLocations()">
                </div>
              </form>
            </div>
          </div>
        </div>