<!-- main app container -->

<form name="header" class="form-horizontal" >
  <div class="navbar-fixed-top cometflowHeader">
    <label>Weather</label>
    <a [routerLink]="['/location']" style="padding-left: 15px;" *ngIf="hasRole('ADMIN')">Location</a>
    <a [routerLink]="['/user']" style="padding-left: 15px;" *ngIf="hasRole('ADMIN')">User</a>
    <a [routerLink]="['/report']" style="padding-left: 15px;" *ngIf="isAuthorized()">Report</a>
  </div>

</form>
<div class="jumbotron" style="background-color: #fff; border: 3px; border-color: black;">
  <div class="classol-sm-12">
      <router-outlet></router-outlet>
  </div>
</div>
