<!-- main app container -->

<form name="header" class="form-horizontal" >
  <div class="navbar-fixed-top cometflowHeader" >
    <a [routerLink]="['/']" ><b>Weather</b></a>
    <a [routerLink]="['/location']"  *ngIf="hasRole('ADMIN')">Location</a>
    <a [routerLink]="['/user']"  *ngIf="hasRole('ADMIN')">User</a>
    <a [routerLink]="['/report']" *ngIf="isAuthorized()">Report</a>

    <a (click)="logOut()" style="float: right; margin-right: 20px;" *ngIf="isAuthorized()">Log out</a>
  </div>

</form>
<div class="jumbotron" style="background-color: #fff; border: 3px; border-color: black;">
  <div class="classol-sm-12">
      <router-outlet></router-outlet>
  </div>
</div>
